<html>
    <head>
        <title>NodeJS Web APP</title>
    </head>
    <body>
        <div style="text-align:center"><p1>Hello World</p1></div>
        <hr>
        <div style="text-align:center"><img src="https://shlee-bucket.s3.ap-northeast-2.amazonaws.com/DN_Chat5.png"></div>
        <hr>
        <div style="text-align:center">
            <form method="GET" action="/login">
                <button type="submit">LOGIN</button>
            </form>
        </div>
        <hr>
        <div style="text-align:center">
            <form method="GET" action="/encrypt">
                <button type="submit">ENCRYPT</button>
            </form>
        </div>
        <hr>
        <tr>
            <th>Content</th>
        </tr>
    </body>
</html>